  <ion-header>
    <ion-navbar color ="Navbar">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <div text-right>
        Entrar no aplicativo
      </div>
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  
  <ion-content style="background-color: #087F5B" >
    <ion-list  >
      <ion-grid>
      
        <ion-row>

          <ion-item color="Background" *ngIf="!facebookLogged.logged">
            <ion-label stacked color="light" >Usuário ou E-mail</ion-label>
            <ion-input large type = "text" color="light"  ></ion-input>
          </ion-item>

        <ion-item color="Background" *ngIf="!facebookLogged.logged">
          <ion-label stacked color="light" >Senha</ion-label>
          <ion-input large type = "password" color="light"  ></ion-input>
        </ion-item>

      </ion-row>

      <ion-row>
        <ion-card *ngIf="facebookLogged.logged" padding> 
            <img width="50" [src]="facebookLogged.profilepicture" *ngIf="facebookLogged.logged" />
            <ion-card-title color="dark" *ngIf="facebookLogged.logged">{{facebookLogged.name}}</ion-card-title>
            <ion-label color="dark" *ngIf="facebookLogged.logged">{{facebookLogged.email}}</ion-label>
        </ion-card>
        <ion-col  > 
          <button ion-button round full *ngIf="!facebookLogged.logged">Entrar</button>

             
          <button ion-button round full *ngIf="facebookLogged.logged" (click)="logOutofFacebook()">Sair</button>

        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
              <a href="#"  *ngIf="!facebookLogged.logged">Esqueceu a senha ?</a>
          </ion-col>
          <ion-col>
              <a href="#" (click)="goTocadastrar()" *ngIf="!facebookLogged.logged">Cadastrar-se</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-label color="light" *ngIf="!facebookLogged.logged" >Entrar também com:</ion-label>
           
        </ion-row>

        <ion-row>
          <ion-col>
              <button class="twitter" color="light" *ngIf="!facebookLogged.logged">
                <ion-icon  color="light" name="logo-twitter"></ion-icon>
              </button>
          </ion-col>
          <ion-col>
              <button class="facebook" ion-button color="light" (click)="logInWithfacebook()" *ngIf="!facebookLogged.logged">
                <ion-icon  color="light" name="logo-facebook"></ion-icon>
              </button>
          </ion-col>
          <ion-col>
              <button class="gmail" ion-button color="light" *ngIf="!facebookLogged.logged">
                <ion-icon color="light" name="logo-google"></ion-icon>
              </button>
          </ion-col>
          
        </ion-row>
    </ion-grid>    
  </ion-list>
  
  </ion-content>