page-login {
        ion-icon{
           
            font-size: 300%;
        }
        .twitter{
            background-color: rgb(46, 162, 216) 
        }
        .facebook{
            background-color: rgb(38, 100, 170)
        }
        .gmail{
            background-color: rgb(184, 46, 64)
        }
        a:link{
            color: black;
        }
        a:hover{
            color: red
        }
        a:visited {
            color: black;
        }
        a:active {
            color: yellow;
        }
        
       
}
