  <ion-menu [content]="mainContent" >
    <ion-content id="side-menu21" style="background-color: #087F5B">
      <ion-list id="menu-list1" color = "Navbar" no-lines >
        <ion-item-sliding >
          <ion-grid ion-item color="Navbar" id="menu-list-item4" >
              <h2 *ngIf="!isLogged" >
                  Faça Login no Aplicativo<br/>para receber novidades
                </h2>
                <h2 *ngIf="isLogged" >{{user}}</h2>
            <ion-row>
                <ion-col col-12>
                    
                    <button *ngIf="!isLogged"  menuClose="" ion-button item-left (click)="goToLogin()"  > entrar</button>
                   
                </ion-col>
                <ion-col col-12>
                    <ion-avatar item-left>
                    <img *ngIf="isLogged" [src] ="image"/>
                    <img   *ngIf="!isLogged" src="assets/img/j4gk6FFxT3anPxcTFJeO_register.png" />
                   
                </ion-avatar>
                </ion-col>
          </ion-row>
                  </ion-grid>
        </ion-item-sliding>
          <ion-buttons >
                <button  ion-item color = "Navbar"  menuClose="" on-click="goToNoticias()" id="menu-list-item1" >
                    <ion-icon name="md-funnel"></ion-icon> 
                    Noticias
                </button>
                <button ion-item color = "Navbar" menuClose="" on-click="goToIndiesDoMomento()" id="menu-list-item2">
                  <ion-icon name="md-game-controller-a" ></ion-icon>
                  Indies do momento
                </button>
                <button ion-item color = "Navbar" menuClose="" on-click="goToTrailers()" id="menu-list-item3">
                    <ion-icon name="logo-youtube"></ion-icon>
                  Trailers
                </button>
                <button ion-item color = "Navbar" menuClose="" on-click="goToIndiesExclusivos()" id="menu-list-item5">
                    <ion-icon name="star"></ion-icon>
                  indies excluisivos
                </button>
                <button ion-item menuClose=""  color = "Navbar" id="menu-list-item6" (click) ="gotTonotification()">
                    <ion-icon name="notifications"></ion-icon>
                  Notificações
                </button>
                
                <button ion-item color = "Navbar" menuClose="" on-click="goToOpEs()" id="menu-list-item7">
                    <ion-icon name="hammer"></ion-icon>
                  Opções
                </button>
                <button  *ngIf="isLogged" ion-item color = "Navbar" menuClose="" (click) = "loggout()">
                    Desconectar
                </button>
        </ion-buttons>
      </ion-list>
       
      
       
    </ion-content>
  </ion-menu>
  <ion-nav #mainContent [root]="rootPage" ></ion-nav>